<div id="slidedown-cart">   
  <div class="mini-cart-wrap">
    <div class="mini-cart-title">{{ 'cart.general.mini_cart_title' | t }}</div>
    <div class="cart-close"><i class="mdi mdi-close"></i></div>
  </div>
  <div class="no-items">
    <div class="empty-carticon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280.028 280.028" width="50" height="50">
        <path class="c-01" d="M35.004 0h210.02v78.758H35.004V0z" fill="#24964f"></path>
        <path class="c-02" d="M262.527 61.256v201.27c0 9.626-7.876 17.502-17.502 17.502H35.004c-9.626 0-17.502-7.876-17.502-17.502V61.256h245.025z" fill="#2da85c"></path>
        <path class="c-03" d="M35.004 70.007h26.253V26.253L35.004 0v70.007zm183.767-43.754v43.754h26.253V0l-26.253 26.253z" fill="#2da85c"></path>
        <path class="c-04" d="M61.257 61.256V26.253L17.503 61.256h43.754zm157.514-35.003v35.003h43.754l-43.754-35.003z" fill="#2da85c"></path>
        <path class="c-05" d="M65.632 105.01c-5.251 0-8.751 3.5-8.751 8.751s3.5 8.751 8.751 8.751 8.751-3.5 8.751-8.751c0-5.25-3.5-8.751-8.751-8.751zm148.764 0c-5.251 0-8.751 3.5-8.751 8.751s3.5 8.751 8.751 8.751 8.751-3.5 8.751-8.751c.001-5.25-3.501-8.751-8.751-8.751z" fill="#2da85c"></path>
        <path class="c-06" d="M65.632 121.637c5.251 0 6.126 6.126 6.126 6.126 0 39.379 29.753 70.882 68.257 70.882s68.257-31.503 68.257-70.882c0 0 .875-6.126 6.126-6.126s6.126 6.126 6.126 6.126c0 46.38-35.003 83.133-80.508 83.133s-80.508-37.629-80.508-83.133c-.001-.001.874-6.126 6.124-6.126z" fill="#087532"></path>
        <path class="c-07" d="M65.632 112.886c5.251 0 6.126 6.126 6.126 6.126 0 39.379 29.753 70.882 68.257 70.882s68.257-31.503 68.257-70.882c0 0 .875-6.126 6.126-6.126s6.126 6.126 6.126 6.126c0 46.38-35.003 83.133-80.508 83.133s-80.508-37.629-80.508-83.133c-.001 0 .874-6.126 6.124-6.126z" fill="#fdfbf7"></path></svg>
    </div>
    <p>{{ 'cart.general.empty' | t }}</p>
  </div>
  <ul class="mini-products-list has-items">  
    {% for item in cart.items %}
    <li class="item" id="cart-item-{{item.id}}">
      <a href="{{item.url}}" title="{{item.title}}" class="product-image">
        <img src="{{ item.image | product_img_url: 'medium' }}" alt="{{item.title}}"></a>
      <div class="product-details">
        <p class="product-name"><a href="{{item.url}}">{{ item.product.title }}
          {% if item.product.variants.size != 0 %}
          {% unless item.variant.title contains 'Default' %}
          {{ item.variant.title }}
          {% endunless %}
          {% endif %}</a></p>
        <div class="cart-collateral"><span class="price">{{item.price | money}}</span> x {{item.quantity}}</div>
      </div>
      <a href="javascript:void(0)" title="Remove This Item" class="btn-remove"><span class="mdi mdi-close"></span></a>
    </li>
    {% endfor %}
  </ul>
  <div class="mini-cart-footer has-items">
    <div class="summary">                
      <p class="total">
        <span class="label">{{ 'cart.general.cart_total' | t }}</span>
        <span class="price">{{cart.total_price | money}}</span> 
      </p>
    </div>
    <div class="actions">
      <button class="btn text-cart" onclick="window.location='{{ routes.cart_url }}'">              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512">        
        <path d="m485.7,198.5c-10.7-13.4-25.3-20.8-41.1-20.8h-36.1c-3.4-92.6-70.5-166.7-152.5-166.7-82,0-149.1,74.1-152.5,166.7h-36.1c-15.8,0-30.4,7.4-41.1,20.8-13.5,16.8-18.4,40.2-13.3,62.7l43.3,190.8c6.5,28.8 28.9,49 54.4,49h290.5c25.5,0 47.9-20.1 54.4-49l43.4-190.8c5.1-22.5 0.2-45.9-13.3-62.7zm-229.7-146.7c59.6-1.42109e-14 108.4,55.8 111.6,125.9h-223.2c3.2-70 52-125.9 111.6-125.9zm203.2,200.3l-43.3,190.9c-2.2,9.8-8.5,17.2-14.6,17.2h-290.6c-6.1,0-12.4-7.4-14.6-17.2l-43.3-190.9c-2.3-10.1-3.7-33.6 14.6-33.6h377.2c19.7,0 16.9,23.5 14.6,33.6z"/>
        <path d="m154.7,259.1c-11.3,0-20.4,9.1-20.4,20.4v127.5c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-127.5c0.1-11.2-9.1-20.4-20.4-20.4z"/>
        <path d="m253.6,259.1c-11.3,0-20.4,9.1-20.4,20.4v127.5c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-127.5c0-11.2-9.2-20.4-20.4-20.4z"/>
        <path d="m352.4,259.1c-11.3,0-20.4,9.1-20.4,20.4v127.5c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-127.5c5.68434e-14-11.2-9.1-20.4-20.4-20.4z"/>
        </svg>{{ 'cart.general.view_cart' | t }}</button>
      <button class="btn text-chackout" onclick="window.location='/checkout'"><i class="mdi mdi-share"></i>{{ 'cart.general.checkout' | t }}</button>
    </div>
  </div>
</div>
<div class="overlay"></div>
