{% comment %}Check if the product is on sale and set a variable to be used below.{% endcomment %}
{% assign on_sale = false %}
{% if featured.compare_at_price > featured.price %}{% assign on_sale = true %}{% endif %}
{% comment %}Check if the product is sold out and set a variable to be used below.{% endcomment %}
{% assign sold_out = true %}
{% if featured.available  %}{% assign sold_out = false %}{% endif %}
{% unless grid_image_width %}{%- assign grid_image_width = '600x600' -%}{% endunless %}
{%- assign compare_at_price = product.compare_at_price -%}
{%- assign price = product.price -%}
{%- assign price_varies = product.price_varies -%}
{%- assign grid_image_width = '270x270' -%}

<div id="product-{{ product.id }}" data-id="product-{{ product.id }}"  data-col="{{ product.id }}" class="item-row {{ settings.product_hover_btn }} product-{{ product.id }} product-layouts col-xs-12 grid-view-item{% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}" data-ajax-enabled="{{ settings.use_ajax_cart }}">  
  <div class="product-wrapper{% if product.images.size > 1 %} product_container{% endif %}"> 
    <div class="thumbs product-thumb">
      <div class="product-image {{ settings.product_img_hover }}">
        <a class="grid-view-item__link" href="{{ product.url | within: collection }}">
          <img class="grid-view-item__image featured-image image_thumb" height="367" width="282" src="{{ product.featured_media | img_url: settings.product_image_width_height }}" alt="{{ product.featured_image.alt }}">
          {% if product.images.size > 1 %}
          {% if product.images.last %} 
          <div class="second-productimg">
            <img class="image_thumb_swap" height="367" width="282" src="{{ product.images.last | product_img_url: settings.product_image_width_height }}" alt="{{ product.images.last.alt | escape }}" />
          </div>
          {% endif %} 
          {% endif %}
        </a>
        {% if product.images.size > 1 %}
        {% if product.images.last %}
        <div class="loader">
          <div class="preloader-wrapper active">
            <div class="spinner-layer"></div>
          </div>
        </div>
        {% endif %} 
        {% endif %} 
        {% if product.compare_at_price > product.price %}
        <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>
        {% endif %}
        {% assign my_fields = product.metafields.my_fields %}
        {% assign key = 'custom_label' %}
        {% if my_fields.custom_label != nil %}
        <span class="custom_label">{{ product.metafields.my_fields.custom_label }}</span>
        {% endif %}
        {% if product.available %} 
        {% else %}
        <div class="sold-out-tag text-center">
          <span class="tag">{{ 'products.product.sold_out' | t }}</span>
        </div>
        {% endif %}
        {% if settings.enable_countdown %}        
        {% assign my_fields = product.metafields.my_fields %}
        {% assign key = 'countdown' %}
        {% if my_fields.countdown != nil %}
        <div class="flip-countdown simple-countdown"><div class="countdown-container flip-countdown" data-countdown="{{ product.metafields.my_fields.countdown }}"></div></div>
        {% endif %}
        {% endif %}
      </div>                
      <div class="btn_wrapper">   
        {% if settings.enable_wishlist %}       
        {% render 'wishlist-icon', product: product %}         
        {% endif %}  
        {% if settings.enable_compare %}
        <div class="add-to-compare pro_btn">     
          <div class="show">
            <div class="default-comparebutton-{{ product.handle }} loading">
              <a class="add-in-compare-js btn" data-comparehandle="{{ product.handle }}" title="{{ 'products.compare.add_to_compare' | t }}">
                <i class="mdi mdi-cached"></i>
                <svg class="compare-icon" version="1.0" xmlns="http://www.w3.org/2000/svg" width="120.000000pt" height="101.000000pt" viewBox="0 0 120.000000 101.000000" preserveAspectRatio="xMidYMid meet">
                  <g transform="translate(0.000000,101.000000) scale(0.100000,-0.100000)" stroke="none">
                    <path d="M880 500 l0 -500 155 0 155 0 0 500 0 500 -155 0 -155 0 0 -500z m220 5 l0 -405 -65 0 -65 0 0 405 0 405 65 0 65 0 0 -405z"/>
                    <path d="M440 345 l0 -345 160 0 160 0 0 345 0 345 -160 0 -160 0 0 -345z m220 5 l0 -250 -60 0 -60 0 0 250 0 250 60 0 60 0 0 -250z"/>
                    <path d="M10 190 l0 -190 155 0 155 0 -2 187 -3 188 -152 3 -153 3 0 -191z m210 0 l0 -90 -60 0 -60 0 0 90 0 90 60 0 60 0 0 -90z"/>
                  </g>
                </svg>
                <svg class="compare-fill" version="1.0" xmlns="http://www.w3.org/2000/svg" width="120.000000pt" height="101.000000pt" viewBox="0 0 120.000000 101.000000" preserveAspectRatio="xMidYMid meet">
                  <g transform="translate(0.000000,101.000000) scale(0.100000,-0.100000)" stroke="none">
                    <path d="M880 500 l0 -500 155 0 155 0 0 500 0 500 -155 0 -155 0 0 -500z"/>
                    <path d="M440 345 l0 -345 160 0 160 0 0 345 0 345 -160 0 -160 0 0 -345z"/>
                    <path d="M10 190 l0 -190 155 0 155 0 -2 187 -3 188 -152 3 -153 3 0 -191z"/>
                  </g>
                </svg>
                <span class="tooltip-label">{{ 'products.compare.add_to_compare' | t }}</span></a></div>
          </div>
        </div>
        {% endif %}
        {% if settings.enable_quick_view %}                  
        {% render 'quickveiw-icon', product: product %}                   
        {% endif %}
      </div>     
    </div>  
    <div class="product-description">  
      {% if settings.product_hover_btn =="style1" %}
      {% if settings.collections_show_rating %}    
      <div class="spr-badges grid-item-meta {% if product.variants == blank %} color {% endif %}">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
      {% endif %}
      {% endif %}
      {% if settings.display_size_variant or settings.display_color_variant %}
      {% if product.has_only_default_variant != true %}
      <div class="color-size">
        {% if settings.display_color_variant %}     
        {% render 'item-swatch', product: product %}
        {% endif %}
        {% if settings.display_size_variant %}  
        <ul class="product-size">  
          {% for option in product.options %}
          {% if option == 'Size' %}
          {% assign index = forloop.index0 %}
          {% assign sizelist = '' %}
          {% assign size = '' %}
          {% for variant in product.variants %}
          {% capture size %}
          {{ variant.options[index] }}
          {% endcapture %}
          {% unless sizelist contains size %}  
          {% assign text = size | handleize %}
          <li class="size{% if sizelist == '' %} active{% endif %}">
            <label>{{ size | split: ' ' | last | handle }}</label>
            {% if variant.image != null %}
            <span class="hidden">
              <img width="373" height="486" src="{{ variant.image.src | product_img_url: '373x486' }}" alt="{{ text }}"/>
            </span>
            {% endif %}
          </li>
          {% capture tempList %}
          {{ sizelist | append: size | append: ' ' }}
          {% endcapture %}
          {% assign sizelist = tempList %}
          {% endunless %}
          {% endfor %}
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}  
      </div>
      {% endif %}
      {% endif %} 
      {% if settings.show_vendor %}
      <div class="grid-view-item__vendor">{{ product.vendor }}</div>
      {% endif %}
      <div class="h4 grid-view-item__title">
        <a class="grid-view-item__link grid-link__title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </div>
      {% if settings.product_hover_btn =="style2" or settings.product_hover_btn =="style3" %}
      {% if settings.collections_show_rating %}    
      <div class="spr-badges grid-item-meta {% if product.variants == blank %} color {% endif %}">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
      {% endif %}
      {% endif %}
      <div class="product-desc rte">
        {{ product.description | strip_html | truncatewords: 15 }}         
      </div>        
      <div class="grid-view-item__meta">
        {% capture price %}{{ product.price | money }}{% endcapture %}
        {% render 'product-price-listing', product: product, show_vendor: section.settings.show_vendor %}
      </div> 
      {% if product.available %}
      <div class="ttqtyprogress">
        <span class="QuantityAvailable">{{ 'products.product.available_product' | t }}</span>
        <span class="quantity">{{ product.variants.first.inventory_quantity }}</span>
        <div class="progress">
          <div class="progress-bar" role="progressbar"></div>
        </div>
      </div>
      {% endif %}
      <div class="cart-qty">  
        {% if settings.enable_quantity %}
        {% if product.available %} 
        <div class="product-qty">        
          <form action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}"> 
            <div class="qty-box-set">  
              <input type="number" name="quantity" value="1" min="1" data-id="Qty" class="quantity">
              <div class="qnt_wrap">
                <div class="inc button qtyplus"><i class="mdi mdi-plus"></i></div>
                <div class="dec button qtyminus"><i class="mdi mdi-minus"></i></div>
              </div>
            </div>
          </form>
        </div>
        {% endif %}
        {% endif %} 
        {% if settings.enable_add_cart %}
        {% if product.available %}
        {% if product.variants.first.inventory_management == "shopify" %}
        {% if product.variants %}  
        {% if product.variants.first.inventory_quantity > 0 %}
        <div class="pro_btn btn1 add_tocart">
          <form action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}">                                    
            <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
            <a class="add-cart-btn btn" title="{{ 'products.product.add_to_cart' | t }}">
              <i class="mdi mdi-cached"></i>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512">        
                <path d="m485.7,198.5c-10.7-13.4-25.3-20.8-41.1-20.8h-36.1c-3.4-92.6-70.5-166.7-152.5-166.7-82,0-149.1,74.1-152.5,166.7h-36.1c-15.8,0-30.4,7.4-41.1,20.8-13.5,16.8-18.4,40.2-13.3,62.7l43.3,190.8c6.5,28.8 28.9,49 54.4,49h290.5c25.5,0 47.9-20.1 54.4-49l43.4-190.8c5.1-22.5 0.2-45.9-13.3-62.7zm-229.7-146.7c59.6-1.42109e-14 108.4,55.8 111.6,125.9h-223.2c3.2-70 52-125.9 111.6-125.9zm203.2,200.3l-43.3,190.9c-2.2,9.8-8.5,17.2-14.6,17.2h-290.6c-6.1,0-12.4-7.4-14.6-17.2l-43.3-190.9c-2.3-10.1-3.7-33.6 14.6-33.6h377.2c19.7,0 16.9,23.5 14.6,33.6z"/>
                <path d="m154.7,259.1c-11.3,0-20.4,9.1-20.4,20.4v127.5c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-127.5c0.1-11.2-9.1-20.4-20.4-20.4z"/>
                <path d="m253.6,259.1c-11.3,0-20.4,9.1-20.4,20.4v127.5c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-127.5c0-11.2-9.2-20.4-20.4-20.4z"/>
                <path d="m352.4,259.1c-11.3,0-20.4,9.1-20.4,20.4v127.5c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-127.5c5.68434e-14-11.2-9.1-20.4-20.4-20.4z"/>
              </svg>
              <span class="add_cart tooltip-label">{{ 'products.product.add_to_cart' | t }}</span>
            </a>
          </form>   
        </div>
        {% else %}
        <div class="pro_btn btn1 add_tocart soldout">
          <a class="add-cart-btn1 btn add-to-cart-disable" title="{{ 'products.product.sold_out' | t }}">
            <i class="mdi mdi-plus"></i><span class="sold_cart tooltip-label">{{ 'products.product.sold_out' | t }}</span>
          </a>  
        </div>
        {% endif %}
        {% else %}
        {% if product.inventory_quantity > 0 %}
        <div class="pro_btn btn2 add_tocart">
          <form action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}">                                    
            <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
            <a class="add-cart-btn btn" title="{{ 'products.product.add_to_cart' | t }}">
              <i class="mdi mdi-cached"></i>
              <i class="mdi mdi-plus"></i><span class="add_cart  tooltip-label">{{ 'products.product.add_to_cart' | t }}</span>
            </a>
          </form>   
        </div>
        {% else %}
        <div class="pro_btn btn2 add_tocart soldout">
          <a class="add-cart-btn1 btn add-to-cart-disable" title="{{ 'products.product.sold_out' | t }}">
            <i class="mdi mdi-plus"></i><span class="sold_cart tooltip-label">{{ 'products.product.sold_out' | t }}</span>
          </a>  
        </div>
        {% endif %}
        {% endif %}
        {% else %}
        {% if product.variants.first.inventory_management == "shopify" %}  
        {% if product.variants.first.inventory_quantity > 0 %}
        <div class="pro_btn btn3 add_tocart">
          <form action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}">                                    
            <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
            <a class="add-cart-btn btn" title="{{ 'products.product.add_to_cart' | t }}">
              <i class="mdi mdi-cached"></i>
              <i class="mdi mdi-plus"></i><span class="add_cart  tooltip-label">{{ 'products.product.add_to_cart' | t }}</span>
            </a>
          </form>   
        </div>
        {% else %}
        <div class="pro_btn btn3 add_tocart soldout">
          <a class="add-cart-btn1 btn add-to-cart-disable" title="{{ 'products.product.sold_out' | t }}">
            <i class="mdi mdi-plus"></i><span class="sold_cart tooltip-label">{{ 'products.product.sold_out' | t }}</span>
          </a>  
        </div>
        {% endif %}
        {% else %}
        <div class="pro_btn btn4 add_tocart">
          <form action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}">                                    
            <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
            <a class="add-cart-btn btn" title="{{ 'products.product.add_to_cart' | t }}">
              <i class="mdi mdi-cached"></i>
              <i class="mdi mdi-plus"></i><span class="add_cart  tooltip-label">{{ 'products.product.add_to_cart' | t }}</span>
            </a>
          </form>   
        </div>
        {% endif %}
        {% endif %}
        {% else %}
        <div class="pro_btn btn4 add_tocart soldout">
          <a class="add-cart-btn1 btn add-to-cart-disable" title="{{ 'products.product.sold_out' | t }}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512">     
              <path d="m485.7,198.5c-10.7-13.4-25.3-20.8-41.1-20.8h-36.1c-3.4-92.6-70.5-166.7-152.5-166.7-82,0-149.1,74.1-152.5,166.7h-36.1c-15.8,0-30.4,7.4-41.1,20.8-13.5,16.8-18.4,40.2-13.3,62.7l43.3,190.8c6.5,28.8 28.9,49 54.4,49h290.5c25.5,0 47.9-20.1 54.4-49l43.4-190.8c5.1-22.5 0.2-45.9-13.3-62.7zm-229.7-146.7c59.6-1.42109e-14 108.4,55.8 111.6,125.9h-223.2c3.2-70 52-125.9 111.6-125.9zm203.2,200.3l-43.3,190.9c-2.2,9.8-8.5,17.2-14.6,17.2h-290.6c-6.1,0-12.4-7.4-14.6-17.2l-43.3-190.9c-2.3-10.1-3.7-33.6 14.6-33.6h377.2c19.7,0 16.9,23.5 14.6,33.6z"/>
              <path d="m154.7,259.1c-11.3,0-20.4,9.1-20.4,20.4v127.5c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-127.5c0.1-11.2-9.1-20.4-20.4-20.4z"/>
              <path d="m253.6,259.1c-11.3,0-20.4,9.1-20.4,20.4v127.5c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-127.5c0-11.2-9.2-20.4-20.4-20.4z"/>
              <path d="m352.4,259.1c-11.3,0-20.4,9.1-20.4,20.4v127.5c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-127.5c5.68434e-14-11.2-9.1-20.4-20.4-20.4z"/>        
            </svg>
            <span class="sold_cart tooltip-label">{{ 'products.product.sold_out' | t }}</span>
          </a>  
        </div>
        {% endif %}
        {% endif %} 
      </div>  
    </div>
  </div>
</div>
