<style>
  .bottom-banner .bottombanner-img .bottombanner-content .bottomcontent .bottombanner-btn{
    color:{{ section.settings.btn_txt_color}};background:{{ section.settings.btn_bg_color}};
  }
  .bottom-banner .bottombanner-img .bottombanner-content .bottomcontent .bottombanner-btn:hover,
  .bottom-banner .bottombanner-img .bottombanner-content .bottomcontent .bottombanner-btn:focus{
    color:{{ section.settings.btn_txt_hover_color}};
  }
  .bottom-banner .bottombanner-img .bottombanner-content .bottomcontent .bottombanner-btn::after{
    background:{{ section.settings.btn_bg_hover_color}};
  }
</style>
<div class="bottom-banner">
  <div class="container">
    <div class="bottombanner-img" data-aos="fade-up">
      {% if section.settings.banner_image != blank %}
      <a href="{% if section.settings.banner_link != blank %}{{section.settings.banner_link }}{% else %}#{% endif %}"><img height="110" width="1530" src="{{  section.settings.banner_image | img_url: "1530x110" }}" alt="bottom-banner" />
        {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="bottombanner-content">
          <div class="bottomcontent">   
            {% if section.settings.banner_title != blank %}
            <div class="bottombanner-title" style="color:{{section.settings.title_color }}">{{ section.settings.banner_title }}</div>
            {% endif %}          
            {% if section.settings.btn_text != blank %}
            <div class="bottombanner-btn btn" href="{% if section.settings.btn_link != blank %}{{ section.settings.btn_link }}{% else %}#{% endif %}">
              {{ section.settings.btn_text }}
            </div>
            {% endif %}   
          </div>
        </div>
      </a>
    </div>  
  </div>
</div>
{% schema %}
{
"name": "Bottom Banner",
"class": "index-section bottom-banner",
"settings": [
{
"type": "image_picker",
"id": "banner_image",
"label": "Image"
},
{
"type": "url",
"id": "banner_link",
"label": "Banner link"
},
{
"type": "text",
"id": "banner_title",
"label": "Banner Title",
"default": "best ever deals"
},
{
"type": "color",
"id": "title_color",
"label": "Title color",
"default": "#eb3039"
},
{
"type": "text",
"id": "btn_text",
"label": "Button text"
},
{
"type": "url",
"id": "btn_link",
"label": "Button url"
},
{
"type": "color",
"id": "btn_bg_color",
"label": "Button Background Color"
},
{
"type": "color",
"id": "btn_txt_color",
"label": "Button Text color"
},
{
"type": "color",
"id": "btn_txt_hover_color",
"label": "Button text hover color"
},
{
"type": "color",
"id": "btn_bg_hover_color",
"label": "Button Hover Background Color"
}
],
"presets": [
{
"name": "Bottom Banner",
"category": "TT CMS section"
}
]
}
{% endschema %}
