<style>
  .bottom-banner .bottombanner-img .bottombanner-content .bottomcontent .bottombanner-btn{
    color:{{ section.settings.btn_txt_color}};background:{{ section.settings.btn_bg_color}};
  }
  .bottom-banner .bottombanner-img .bottombanner-content .bottomcontent .bottombanner-btn:hover,
  .bottom-banner .bottombanner-img .bottombanner-content .bottomcontent .bottombanner-btn:focus{
    color:{{ section.settings.btn_txt_hover_color}};
  }
  .bottom-banner .bottombanner-img .bottombanner-content .bottomcontent .bottombanner-btn::after{
    background:{{ section.settings.btn_bg_hover_color}};
  }
</style>
<div class="bottom-banner">
  <div class="container">
    <div class="bottombanner-img" data-aos="fade-up">
      {% if section.settings.banner_image != blank %}
      <a href="{% if section.settings.banner_link != blank %}{{section.settings.banner_link }}{% else %}#{% endif %}"><img height="310" width="1230" src="{{  section.settings.banner_image | img_url: "1230x310" }}" alt="bottom-banner" />
        {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="bottombanner-content {{ section.settings.text1_position }}">
          <div class="bottomcontent">
            {% if section.settings.banner_subtitle != blank %}
            <div class="bottombanner-subtitle" style="color:{{section.settings.subtitle_color }};">{{ section.settings.banner_subtitle }}</div>
            {% endif %} 
            {% if section.settings.banner_title != blank %}
            <div class="bottombanner-title" style="color:{{section.settings.title_color }}">{{ section.settings.banner_title }}</div>
            {% endif %}          
            {% if section.settings.btn_text != blank %}
            <div class="bottombanner-btn btn" href="{% if section.settings.btn_link != blank %}{{ section.settings.btn_link }}{% else %}#{% endif %}">
              {{ section.settings.btn_text }}
            </div>
            {% endif %}   
          </div>
        </div>
      </a>
    </div>  
  </div>
</div>
{% schema %}
{
"name": "Bottom Banner",
"class": "index-section bottom-banner",
"settings": [
{
"type": "image_picker",
"id": "banner_image",
"label": "Image"
},
{
"type": "url",
"id": "banner_link",
"label": "Banner link"
},
{
"type": "select",
"id": "text1_position",
"label": "Text Position",
"options": [
{
"value": "left",
"label": "left"
},
{
"value": "right",
"label": "Right"
},
{
"value": "center",
"label": "Center"
}
]
},
{
"type": "text",
"id": "banner_title",
"label": "Banner Title",
"default": "best ever deals"
},
{
"type": "color",
"id": "title_color",
"label": "Title color",
"default": "#eb3039"
},
{
"type": "text",
"id": "banner_subtitle",
"label": "Banner Subtitle"
},
{
"type": "color",
"id": "subtitle_color",
"label": "Subtitle color",
"default": "#111"
},
{
"type": "text",
"id": "btn_text",
"label": "Button text"
},
{
"type": "url",
"id": "btn_link",
"label": "Button url"
},
{
"type": "color",
"id": "btn_bg_color",
"label": "Button Background Color"
},
{
"type": "color",
"id": "btn_txt_color",
"label": "Button Text color"
},
{
"type": "color",
"id": "btn_txt_hover_color",
"label": "Button text hover color"
},
{
"type": "color",
"id": "btn_bg_hover_color",
"label": "Button Hover Background Color"
}
],
"presets": [
{
"name": "Bottom Banner",
"category": "TT CMS section"
}
]
}
{% endschema %}
