<style>   
  #tt-collection-slider-wrap .ttcat-content .collection_title 
  { color:{{ section.settings.collection_title_color }};} 
  #tt-collection-slider-wrap .section-header .subtitle{
  	 color:{{ section.settings.subtitle_color }};
  }
  #tt-collection-slider-wrap .ttcat-content .collection-detail{
    color:{{ section.settings.collection_desc_color }};
  }  
  #tt-collection-slider-wrap .ttcat-content .collection_title:hover
  { color:{{ section.settings.collection_title_hover_color }};}  
</style>
<div data-section-id="{{ section.id }}"  data-section-type="tt-collection-slider-wrap" id="tt-collection-slider-wrap" >
  <div class="container">
    <div class="row">
      <div class="tt-collection-slider-wrap-inner" data-aos="fade-up">
        <div class="section-header">
          <div class="subtitle">{{ section.settings.subtitle }}</div>
          <div class="tt-title">{{ section.settings.title }}</div>     
        </div>
        <div class="category_feature owl-carousel">      
          {% if section.blocks.size > 0 %}          
          {% for block in section.blocks %}  
          {%- assign collection = collections[block.settings.collection_cat_id] -%}   
          <div id="cat-featured--{{ block.id }}" class="cat_content col-sm-12">                            
            <div class="collection_img"><a href="{{ collection.url }}"><img src="{{ block.settings.image_1 | img_url: "285x285"  }}" alt="collection-img" height="285" width="285"/></a></div>                
            <div class="ttcat-content">
              {% if collection.title != blank  %}  
              <a href="{{ collection.url }}">
                <div class="collection_title">{{ block.settings.collection_title }}</div></a>
              {% endif %} 
              {% if collection.description != blank  %}
              <div class="collection-detail">
                {{ collection.description | strip_html | truncatewords: 10 }}
              </div>
              {% endif %}                
            </div>                                
          </div>
          {% endfor %}        
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "Category Feature",
"class": "index-section category-feature",
"max_blocks":6,
"settings": [
{
"type": "header",
"content": "CMS category setting"
},
{
"type": "text",
"id": "title",
"label": "Section Title"
},
{
"type": "text",
"id": "subtitle",
"label": "Section Sub Title"
},
{
"type": "color",
"id": "subtitle_color",
"label": "Sub Title Color",
"default":"#fff"
},
{
"type": "color",
"id": "collection_title_color",
"label": "Collection Title Color",
"default":"#fff"
},
{
"type": "color",
"id": "collection_title_hover_color",
"label": "Collection Title Hover Color",
"default":"#fff"
},
{
"type": "color",
"id": "collection_desc_color",
"label": "Collection Description Color",
"default":"#fff"
}   
],
"blocks": [
{
"type": "text_collection",
"name": "collection cms",
"settings": [
{
"type": "image_picker",
"id": "image_1",
"label": "Image",
"info": "Size: 285x285"
},
{
"type": "text",
"id": "collection_title",
"label": "collection Title"
},
{
"type": "collection",
"id": "collection_cat_id",
"label": "Select collection"
}
]
}
],
"presets": [
{
"name": "Category Feature",
"category": "TT CMS section",
"blocks": [
{
"type": "text_collection"
}     
]
}
]
}
{% endschema %}

