<div data-section-id="{{ section.id }}" class="page-width slider-specialproduct-wrap special-collection">
  {%- assign collection = collections[section.settings.collection] -%}
  {%- assign grid_item_width = 'product-li' -%}
  {%- assign image_size = '270x270' -%}
  {%- assign product_limit =  6 -%}
  {%  assign cnt = 1 %} 
  {%-  assign foundpro = collection.products.count -%}
  <div class="container">
    <div class="special-product-div {{ section.settings.class }} special-product TTProduct-Tab tab-content" data-aos="fade-up">    
      <div class="box-heading tthometab-title section-header">
        {% if section.settings.subtitle != blank %}
        <div class="subtitle">{{ section.settings.subtitle }}</div>
        {% endif %}
        {% if section.settings.title != blank %}
        <h2 class="tt-title">{{ section.settings.title | escape }}</h2>
        {% endif %}
      </div>     
      <div class="row">
        <div id="{{ section.settings.class }}_products_slider" data-col="{{ section.settings.product_col }}"  class="contents tab-pane slider-specialproduct grid grid--view-items owl-carousel owl-theme" data-col="{{ section.settings.product_col }}">
          {% for product in collection.products limit: product_limit %}                
           <div class="{{ grid_item_width }}">
                {% render 'product-card-grid', grid_image_width: image_size, collection: collection. product: product %}
              </div>
          {% else %}
          {% for i in (1..product_limit) %}
          <div class="{{ grid_item_width }}">
            <div class="grid-view-item">
              <a href="#" class="grid-view-item__link">
                <div class="grid-view-item__image">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                {% render 'wishlist-icon' %}
                <div class="h4 grid-view-item__title">{{ 'home_page.onboarding.product_title' | t }}</div>
                <div class="grid-view-item__meta">
                  {% render 'product-price' %}
                </div>
              </a>
            </div>
          </div>
          {% endfor %} 
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .slider-specialproduct-wrap .section-header .subtitle{
    color: {{ section.settings.subtitle_color }};
  }
</style>
{% schema %}
{
"name": "Special product",
"class": "index-section special",
"settings": [
{
"type": "text",
"id": "class",
"label": "Add Class",
"default": "specialproduct"
},
{
"type": "text",
"id": "subtitle",
"label": "Section Sub Title"
},
{
"type": "color",
"id": "subtitle_color",
"label": "Sub Title Color",
"default":"#fff"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Special collection"
},
{
"type": "color",
"id": "title_color",
"label": "Title color",
"default": "#525252"
},
{
"id": "collection",
"type": "collection",
"label": "Collection"
},
{
"type": "select",
"id": "product_col",
"label": "Select product Column",
"options": [
{
"value": "2",
"label": "2 Column"
},
{
"value": "3",
"label": "3 Column"
},
{
"value": "5",
"label": "5 Column"
}
],
"default": "3"
}
],
"presets": [
{
"name": "Special product",
"category": "Collection"
}
]
}
{% endschema %}